<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<!-- 		<meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" /> -->

        <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="../public/stylesheets/mainpage.css">
        <link rel="stylesheet" href="../public/stylesheets/jquery.js">
        <link rel="stylesheet" href="../public/stylesheets/mainpage.js">

		 <title>KiwiMT main page</title>
	</head>
	<body>

  

  <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
	

  </body>

	<script src="../public/javascripts/jquery.js">  </script>
	<script src="../public/javascripts/mainpage.js ">  </script>
	<script src="../public/javascripts/bootstrap.js">  </script>



</html>
