doctype html
html(lang='en')
  head
    title Jade For the Test
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

  body
    h1 Jade Intro.
    p Clean and Classy!
    h2 Text and Comments

    div.btn-toolbar(role="toolbar")
