doctype html
html(lang='en')
  head
    title Jade For the Test
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

  body
    h2 Nothing is Impossible
    h1 Yesterday you said 

    div.btn-toolbar(role="toolbar")
