doctype html
html
  head
    title= title
    link(rel='stylesheet', href= '/stylesheets/dasky.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    script(type='text/javascript' src="/javascripts/jquery.js")
    script(type='text/javascript' src='/javascripts/dasky.eval.js' )
    script(type='text/javascript' src='/javascripts/jmpress.js' )
    script(type='text/javascript' src='/javascripts/custom.js' )
    
  body
  #dasky
      .step.year
        .dsk-titlenode Begin
        .dsk-content
          p.dsk-year-info  The Project Starts 
      .step
        .dsk-circle Task 1
        h2.dsk-circle-title Task 1
        .dsk-content
          .dsk-info
            h2 Task 1
            p  Task 1 information  
            a.dsk-link(href='#') 
      .step
        .dsk-circle Task 2
        h2.dsk-circle-title Task 2
        .dsk-content
          .dsk-info
            h2 Task 2
            p
              | Task 2 information
            a.dsk-link(href='#') 
      .step
        .dsk-circle Task 3
        h2.dsk-circle-title Task 3
        .dsk-content
          .dsk-info
            h2 Task 3 
            p
              Task 3 information

      .step
        .dsk-circle Task 4
        h2.dsk-circle-title Task 4
        .dsk-content
          .dsk-info
            h2 Task 4
            p
              Task 4 information



    block content